/* Yoinked from CodePen, but improved the animation
so that it is smooth among other more minor things */

.codepen-button {
    /* display: block; */
    cursor: pointer;
    color: white;
    /* margin: 0 auto; */
    position: relative;
    text-decoration: none;
    font-weight: 600;
    border-radius: 6px;
    overflow: hidden;
    padding: 3px;
    isolation: isolate;
    width: 188px;
  }
  
  .codepen-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    background: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    background-size: 25% 100%;
    animation: an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop .75s linear infinite;
    animation-play-state: paused;
    translate: -5% 0%;
    transition: translate 0.25s ease-out;
  }
  
  .codepen-button:hover::before {
    animation-play-state: running;
    transition-duration: 0.75s;
    translate: 0% 0%;
  }
  
  @keyframes an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop {
    to {
      transform: translateX(-25%);
    }
  }
  
  .codepen-button span {
    position: relative;
    display: block;
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
    background: #000;
    border-radius: 3px;
    height: 100%;
  }

  .btn {
    padding: 1rem 2rem;
    font-weight: 700;
    background: rgb(255, 255, 255);
    color: blueviolet;
    border-radius: .5rem;
    border-bottom: 2px solid blueviolet;
    border-right: 2px solid blueviolet;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transition-duration: 1s;
    transition-property: border-top, 
       border-left, 
       border-bottom,
       border-right,
       box-shadow;
   }
   
   .btn:hover {
    border-top: 2px solid blueviolet;
    border-left: 2px solid blueviolet;
    border-bottom: 2px solid rgb(238, 103, 238);
    border-right: 2px solid rgb(238, 103, 238);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
   }

   /* From uiverse.io by @Ali-Tahmazi99 */
.btn12 {
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #03045e;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
   }
   
   .btn12::before,
   .btn12::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
   }
   
   .btn12::before {
    left: -10px;
    background: #240046;
   }
   
   .btn12::after {
    right: -10px;
    background: #5a189a;
   }
   
   .btn12:hover::before,
   .btn12:hover::after {
    width: 58%;
   }
   
   .btn12:hover span {
    color: #e0aaff;
    transition: 0.3s;
   }
   
   .btn12 span {
    color: #03045e;
    font-size: 18px;
    transition: all 0.3s ease-in;
   }

   .btn13 {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   
   .btn13::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .btn13:hover::before {
    width: 9em;
   }
   .header1{
    width: 100%;
    height: 190px;
    background: linear-gradient(to top, rgb(179, 55, 55), rgb(78, 78, 205));
   }
   .saxeli{
    text-align: center;
    color: #f2f8f9;
    padding-top: 10px;
   }
   .gvarebi{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 25px;
   }
   .btns{
    display: flex;
    gap: 50px;
    margin-left: 400px;
   }

   .card-title {
    color: #262626;
    font-size: 1.5em;
    line-height: normal;
    font-weight: 700;
    margin-bottom: 0.5em;
  }
  
  .small-desc {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    color: #452c2c;
  }
  
  .small-desc {
    font-size: 1em;
  }
  
  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2em;
    height: 2em;
    overflow: hidden;
    top: 0;
    right: 0;
    background: linear-gradient(135deg, #6293c8, #384c6c);
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  
  .card {
    display: block;
    position: relative;
    max-width: 500px;
    max-height: 520px;
    background-color: #f2f8f9;
    border-radius: 10px;
    padding: 2em 1.2em;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 60px;
    margin-left: 450px;
  }
  
  .card:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: linear-gradient(135deg, #364a60, #384c6c);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.35s ease-out;

  }
  
  .card:hover:before {
    transform: scale(50);
  }
  
  .card:hover .small-desc {
    transition: all 0.5s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .card:hover .card-title {
    transition: all 0.5s ease-out;
    color: #ffffff;
  }
  .slider {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-top: 40px;

  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .slide img {
    width: 600px;
    height: auto;
   margin-left: 400px;
  }
  
  .active {
    opacity: 1;
  }
  
  .thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
  }
  
  .thumbnail {
    width: 100px;
    height: auto;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.5s ease;
  }
  
  .thumbnail:hover {
    opacity: 1;
  }
  
  .active-thumbnail {
    opacity: 1;
  }
  
  .navigation {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  .hhh {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  .buttons{
    margin-bottom: 70px;
    margin-top: 20px;
  }